Airline data ingestion/Step_function.json
{
  "Comment": "A state machine that triggers a Snowflake copy job with dynamic bucket name and file path and sends notifications",
  "StartAt": "CopyJobLambda",
  "States": {
    "CopyJobLambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-south-1:905418421711:function:s3_to_snowflake",
      "Parameters": {
        "bucket_name.$": "$.bucket_name",
        "file_key.$": "$.file_key"
      },
      "Next": "SendSuccessNotification",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.errorInfo",
          "Next": "SendFailureNotification"
        }
      ]
    },
    "SendSuccessNotification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:ap-south-1:905418421711:SnowflakeCopyNotifications",
        "Message": {
          "Fn::Sub": "Snowflake COPY INTO job completed successfully for the file: ${file_key} in bucket: ${bucket_name}."
        },
        "Subject": "Snowflake Copy Job Success"
      },
      "Next": "JobSuccess"
    },
    "JobSuccess": {
      "Type": "Succeed",
      "Comment": "Job completed successfully and success email sent"
    },
    "SendFailureNotification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:ap-south-1:905418421711:SnowflakeCopyNotifications",
        "Message": {
          "Fn::Sub": "Snowflake COPY INTO job failed for the file: ${file_key} in bucket: ${bucket_name}. Error details: ${errorInfo.ErrorMessage}"
        },
        "Subject": "Snowflake Copy Job Failed"
      },
      "End": true
    }
  }
}